<section id="footer" class="footer">
  <div class="w-layout-blockcontainer container w-container">
    <div class="footer-wrapper">

      <!-- блок контактов -->
      <div class="footer-contacts">
        <div>По всем вопросам обращайтесь</div>

        <!-- кликабельный телефон -->
        <a href="tel:+79501658925"
           class="contact-link w-inline-block"
           aria-label="Позвонить">
              +7 950 165‑89‑25
        </a>

        <!-- кликабельная почта -->
        <a href="mailto:support@fit-power.pro"
           class="contact-link w-inline-block"
           aria-label="Написать письмо">
              support@fit-power.pro
        </a>
      </div>
         <div class="footer-privacy">
            <a href="#" class="privacy-link w-inline-block">
               <div>Политика конфиденциальности</div>
            </a>
            <a data-w-id="6076df32-9049-e67e-2296-7f3d5c095e8b" href="" class="privacy-link w-inline-block">
               <div class="privacy-link">Наверх</div>
               <div data-is-ix2-target="1" class="scroll-top" data-w-id="6076df32-9049-e67e-2296-7f3d5c095e8e" data-animation-type="lottie" data-src="/img/scroll-20top.json" data-loop="0" data-direction="1" data-autoplay="0" data-renderer="svg" data-default-duration="0" data-duration="3.04" data-ix2-initial-state="27"></div>
            </a>
         </div>
      </div>
   </div>
</section>
<script src="../js/jquery.min.js" crossorigin="anonymous"></script>
<script src="../js/ui-behavior.js"></script>
<script src="../js/ui-interactions.js"></script>
<script src="../js/ui-core.js"></script>
<script src="../js/layout-helper.js"></script>


